<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<div id="banner">
  <%= link_to(image_tag("logo.png"), store_path)  %>
  <%= @page_title || "My Rails Bookshelf" %><!-- <label id="code.depot.e.title"/> -->
</div>
<div id="columns">
  <div id="side">
    <ul>
      <li><%= link_to "Home", store_path %></li>
      <li><a href="#">Questions</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
<div id="footer">
    Counter: <%= session[:count] %>
</div>
</body>
</html>