<h1>Say#hello</h1>
<p>Time: <%= @time%></p>
<p><%= link_to "Goodbye", say_goodbye_path  %> &nbsp; <%= link_to "File List", say_test_path  %></p>
<p><%= 1+ 2 %></p>
<p><%= "cow" + "boy" %></p>
<p><%= 1.hour.from_now %></p>
